@model  HackTheFuture.PL.Models.Challenge

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <p>
                id: @Html.DisplayFor(model => model.Id)
            </p>
            <p>
                identifier: @Html.DisplayFor(model => model.Identifier)
            </p>
            <p>
                title: @Html.DisplayFor(model => model.Title)
            </p>
            <p>
                description: @Html.DisplayFor(model => model.Description)
            </p>
            <p>
                Challenge Id: @Html.DisplayFor(model => model.Example.Answer.ChallengeId)
            </p>
        </div>
    </div>
</div>
