@model  HackTheFuture.PL.Models.ChallengeResponse

<div class="row">
    <div class="col-md-12">
        <div class="well">
            <p>
                @ViewBag.test
            </p>
            <p>
                id: @Html.DisplayFor(model => model.Identifier)
            </p>
            <p>
                identifier: @Html.DisplayFor(model => model.Status)
            </p>
            <p>
                identification: @Html.DisplayFor(model => model.Identification)
            </p>
            <h3>
                Challenge 1:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge01.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge01.status)
            </p>
            <h3>
                Challenge 2:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge02.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge02.status)
            </p>
            <form action="@Url.Action("GetChallenge","Challenge2")" method="post">
                <input type="hidden" name="url" id="url" value="@Model.Overview.challenge02.status" />
                <input type="submit" value="Get challenge 2" />
            </form>
            <h3>
                Challenge 3:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge03.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge03.status)
            </p>
            <h3>
                Challenge 4:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge04.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge04.status)
            </p>
            <h3>
                Challenge 5:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge05.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge05.status)
            </p>
            <h3>
                Challenge 6:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge06.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge06.status)
            </p>
            <h3>
                Challenge 7:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge07.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge07.status)
            </p>
            <h3>
                Challenge 8:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge08.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge08.status)
            </p>
            <h3>
                Challenge 9:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge09.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge09.status)
            </p>
            <h3>
                Challenge 10:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge10.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge10.status)
            </p>
            <h3>
                Challenge 11:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge11.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge11.status)
            </p>
            <h3>
                Challenge 12:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge12.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge12.status)
            </p>
            <h3>
                Challenge 13:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge13.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge13.status)
            </p>
            <h3>
                Challenge 14:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge14.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge14.status)
            </p>
            <h3>
                Challenge 15:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge15.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge15.status)
            </p>
            <h3>
                Challenge 15:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge15.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge15.status)
            </p>
            <h3>
                Challenge 16:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge16.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge16.status)
            </p>
            <h3>
                Challenge 17:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge17.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge17.status)
            </p>
            <h3>
                Challenge 18:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge18.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge18.status)
            </p>
            <h3>
                Challenge 19:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge19.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge19.status)
            </p>
            <h3>
                Challenge 20:
            </h3>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge20.entry)
            </p>
            <p>
                @Html.DisplayFor(model => model.Overview.challenge20.status)
            </p>
        </div>
    </div>
</div>

